div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Introducing our 2019 robot: *INSERT ROBOT NAME HERE*
    div.panel-body
      p *ROBOT NAME* can place cargo and hatches on the cargo ship and all 3 levels, as well as climb to any HAB level.
      
      p Features:
      ul
        li Feature 1
        li Feature 2
        li Feature 3
      
      p *ROBOT NAME* will compete at #[a(href='https://thebluealliance.com/event/2019waamv') Auburn Mountainview], #[a(href='https://thebluealliance.com/event/2019wasno') Glacier Peak], and beyond (pending qualification).