div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Introducing our 2019 robot: Raven
    div.panel-body
      p Raven can place cargo and hatches on the cargo ship and all 3 levels as well as climb to any HAB level.
      
      p Features:
      ul
        li 8-wheel tank drive powered by 6 NEOs
        li Shifting drive base gearbox for high speed and power
        li Dual-purpose intake can pick up both hatch panels and cargo off the ground
        li Lift system uses 2 NEO motors to lift intake
        li Climber uses rail deployment system and linear actuators to climb to any HAB Level
        li Onboard vision guidance allows for fast and accurate semi-automated game piece placement
        li USB Camera gives drive team view of field during sandstorm and teleoperated mode
      
      p Raven will compete at #[a(href='https://thebluealliance.com/event/2019waamv') Auburn Mountainview], #[a(href='https://thebluealliance.com/event/2019wasno') Glacier Peak] and beyond. (pending qualification).