div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Build season has started!
    div.panel-body
      p It's the beginning of a new year, and that means that another build season is underway! This year's game is Deep Space and we are currently hard at work developing strategies and building a robot for our upcoming competitions!

      p You can learn more about Deep Space by watching the #[a(href='https://youtu.be/Mew6G_og-PI') reveal video].

      p Parents can also sign up to bring food #[a(href='https://www.signupgenius.com/go/60b0445a9ae2fabfd0-build') here].