div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Quality Award Winners!
    div.panel-body
      p Last weekend, we competed at #[a(href='https://thebluealliance.com/event/2019waamv') Auburn Mountainview]! We played with nearly 40 teams, reaching the quarterfinals and winning the Quality Award for our CAD models, level 2 climb, and robust design.
      
      p You can find more information about last weekend's competition on #[a(href='https://blog.robototes.com') our blog]. We will be competing again on March 23rd and 24th at #[a(href='https://thebluealliance.com/event/2019wasno') Glacier Peak].
      
      p.red GO ROBOTOTES!!!