div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 We're going to Worlds!
    div.panel-body
      p Last weekend, we competed at the #[a(href='https://thebluealliance.com/event/2019pncmp') Pacific Northwest District Championship]! We played with 64 teams, reaching the quarterfinals as the 2nd pick of the 7th-seeded alliance and winning the Imagery Award!
      
      p You can find more information about last weekend's competition on #[a(href='https://blog.robototes.com') our blog]. We will be competing again on April 17th-20th at the #[a(href='https://thebluealliance.com/event/2019cmptx') Houston World Championship].
      
      p.red GO ROBOTOTES!!!