div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Celebrating another great season!
    div.panel-body
      p On April 17-19, we competed at the #[a(href='https://thebluealliance.com/event/2019roe') Houston World Championship]! We played with 66 other teams, reaching the quarterfinals as the 1st pick of the 7th-seeded alliance!
      
      p You can find more information about last weekend's competition on #[a(href='https://blog.robototes.com') our blog]. We are very proud of what we have accomplished this season and are eagerly looking forward to next year!
      
      p.red GO ROBOTOTES!!!