div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Help support our team!
    div.panel-body
      p We are asking for donations to go directly to the Team by following these steps:
      ol
        li.
          If you do not have a student in the Bellevue School District you may create a guest login here:
          #[a(href='https://touchbase.bsd405.org/signup.aspx') https://touchbase.bsd405.org/signup.aspx]
        li Once you have an account, log in at #[a(href='https://touchbase.bsd405.org/') https://touchbase.bsd405.org/]
        li Click on "Items At All Schools"
        li Choose "High School", then "Sammamish High School", then "Donations"
        li Enter the amount you wish to donate, then checkout
        li Accept the sincere thanks from Team 2412!
      p All donations are tax deductible.
