div.col-md-6.col-sm-6.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Girls Gen Winners!
    div.panel-body
      p On October 27th, we sent an all-girl drive team, plus a few boys, to Tahoma High School to compete at Girls Generation, a competition where only the girls can drive. Prior to Girls Gen, we had spent many meetings practicing driving and fixing our robot. Our hard work was rewarded as we managed to win Girls Gen for the first time in team history!

      p You can read more about our Girls Gen experience at our #[a(href='https://blog.robototes.com') blog]
