div.col-md-6.col-sm-6.col-xs-12
  div.panel.panel-default
      div.panel-heading
        h2 Celebrating another great season!
      div.panel-body
        p.
          Although many people are disappointed that our season is already over, we are still happy to celebrate what has been one of the more successful seasons in team history. 
          This year, our mentor Dmitry Kaplan was recognized as a Woodie Flowers Nominee, and we made it to the quarterfinals in both of our competitions.
        p More information can be found on our #[a(href=`//blog.${nconf.get('DOMAIN')}/`) blog].
