div.col-md-6.col-sm-6.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Competition season continues!
    div.panel-body
      p.
        Although we just finished competing in Auburn last weekend, we still have another competition! Our next one will be at Glacier Peak High School this weekend.  If you can't come see us in person, you can watch our robot perform online on #[a(href='https://www.twitch.tv/firstwa_blue') Twitch.tv] or
        #[a(href='https://atthecontrol.com/dashboard/2412/WASNO') AtTheControl].
      p.
        You can find more information about last weekend's competition on #[a(href='https://blog.robototes.com') our blog].
      p.red GO ROBOTOTES!!!
