div.col-md-6.col-sm-6.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Competition season is starting!
    div.panel-body
      p.
        This weekend, we will go to Auburn High School to compete with 35 other teams from all over the Pacific Northwest! This will be our first competition (our second is at Glacier Peak High School,
        from March 23rd to 25th). If you can't come to see us in person, you can watch our robot perform online on #[a(href='https://www.twitch.tv/firstwa_blue') Twitch.tv] or
        #[a(href='https://atthecontrol.com/dashboard/2412/WAAHS') AtTheControl].
      h3.red GO ROBOTOTES!!!
