div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Silent Auction
    div.panel-body
      p On Saturday, November 2nd, from 4 to 6 pm, The Robototes will be having a silent auction at #[a(href=`https://www.google.com/maps/search/?api=1&query=100+140th+Ave+SE%2C+Bellevue%2C+WA+98005`) Sammamish High School, 100 140th Ave SE, Bellevue, WA 98005], in the Atrium and Robotics Rooms.
      p This auction will help us raise money for the following 2020 competition and other projects for the team. The goal of this auction is to raise at least $2000 for the team.
      
      p If you have any questions, or want to donate anything for the auction, please email #[a(href='mailto:business@robototes.com') business@robototes.com]
      
      p An online auction item list will be provided; attendance not required to bid/donate.
