div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 STEM Nights
    div.panel-body
      p We’re partnering with the Crossroads Community Center, #[a(href='https://www.google.com/maps/search/?api=1&query=16000+NE+10th+St%2C+Bellevue%2C+WA+98008') 16000 NE 10th St, Bellevue, WA 98008] to offer STEM nights this fall! 
      p More details will be coming soon, but we plan to be showcasing our competition robot, Raven, as well as many other STEM-related activities. 
      p These events will be taking place September 27th, November 1st and 15th, and December 6th and 20th. We hope to see you there!
