div.col-md-4.col-sm-4.col-xs-12
  div.panel.panel-default
    div.panel-heading
      h2 Sign up for our summer camp!
    div.panel-body
      p Is your child interested in STEM? Do they think robots are cool? At our week-long camp, kids will work in teams to build an autonomous robot using Lego Mindstorms, ending with a competition against the other teams. 
      
      p For: Incoming 3rd - 5th graders, no experience necessary
      
      p Dates: June 24-28 from 9am-12pm
      
      p Location: Sammamish High School Engineering Room, 100 140th Ave SE, Bellevue WA, 98005
      
      p Suggested Cost: $100. We do not want the cost to inhibit any kids from participating, so please pay what you can. Money raised from this camp will go towards buying more Lego Mindstorms to help start robotics teams at local elementary and middle schools, as well as other outreach materials.
      
      p You can register here: #[a(href='https://goo.gl/forms/NZmZT5gkIaqiTj8F2') https://goo.gl/forms/NZmZT5gkIaqiTj8F2]
      
      p Feel free to email #[a(href='mailto:outreach@robototes.com') outreach@robototes.com] if you have any questions.