body {
    padding-top: 50px;
    word-wrap: break-word;
    background: url("../media/rt_transparent.png") repeat;
}
#headerTitle {
    font-family: "Orbitron", bold, monospace;
    color: red;
    font-size: 25px;
}
.red {
    color: red;
}