extends layout.pug

append main
  h1 Calendar
  p All meeting times and dates are tentative and may change based on meeting productivity, how many parts we have, etc.
  
  //Embedded Calendar
  iframe(src='https://calendar.google.com/calendar/embed?title=Calendar&height=600&wkst=1&bgcolor=%23ffffff&src=40366rqb15p5madvhj96e6hu7c%40group.calendar.google.com&color=%23711616&ctz=America%2FLos_Angeles' style='border-width:0' width='800' height='600')
