extends layout.pug

append main
  h1 Contact us
  h3 Team
  div.row
    each team in contact.team
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= team.name
          div.panel-body.btn-toolbar
            each contactInfo in team.contact
              +contactButton(contactInfo)
  h3 Robotics Leadership
  div.row
    each member in contact.members
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${member.name} (${member.role})`
          div.panel-body.btn-toolbar
            each contactInfo in member.contact
              +contactButton(contactInfo)
  h3 Website developers
  div.row
    each developer in contact.developers
      div.col-md-4.col-sm-6.col-xs-12
        div.panel.panel-default
          div.panel-heading
            h4.panel-title= `${developer.name}`
          div.panel-body.btn-toolbar
            each contactInfo in developer.contact
              +contactButton(contactInfo)
